.container{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.box1, input {
    width: 300px;
    border: 2px solid black;
    height: 30px;
    margin-left: 12px;
    padding: 6px;
    font-size: 23px;
    border-radius: 8px;
}

.button{
    margin-left: 12px;
    border-radius: 12px
}