#hoverText {
    color: #fff;
    background-color: purple;
    display: flex;
    justify-content: center;
    font-size: 23px;
    padding: 18px;
    &:hover{
        color: green;
        background-color: yellow;
    }
}